/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* FINE RESET */

/* UTILITY */
.bg-red{
    background-color: #ef2851;
}

.bg-green{
    background-color: #0c8a60;
}

.bg-white{
    background-color: white;
}

.f-xsmall{
    font-size: x-small;
}

.f-10{
    font-size: 10px;
}

.f-white{
    color: white;
}

.f-red{
    color: #ef2851;
}

.f-black{
    color: black;
}

.f-bold{
    font-weight: bold;
}

.p-5{
    padding: 5px;
}
/* FINE UTILITY */

body{
    font-family: sans-serif;
}

.container{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.item{
    display: inline-block;
    position: relative;
    width: 280px;
    margin: 10px 5px;
}

.item img{
    width: 280px;
}

.labels{
    position: absolute;
    left: 0;
    bottom: 50px;
}

.heart{
    height: 38px;
    width: 38px;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 10px;
    line-height: 19px;
    font-size: 25px;
}

.heart:hover{
    cursor: pointer;
}

.description{
    text-align: left;
}

.img{
    width: 280px;
    height: 404px;
    background-size: cover;
    margin-bottom: 5px;
}

.img img:nth-of-type(2){
    display: none;
}

.img:hover img:nth-of-type(2){
    display: block;
}

.img:hover img:nth-of-type(1){
    display: none;
}
